body{
  background: #e8e8e8 url("../img/background_img.png") 50% 130px no-repeat;
  font-family: 'Times New Roman', serif;
}

.content{
  max-width: 841px;
  margin: 0 auto;
  padding-top: 166px;
  padding-bottom: 137px;
}

.content-top{
  text-align: center;
  margin-bottom: 63px;
}

.content-top__subtitle{
  opacity: 0.6;
  font-family: Arial, serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #273d46;
  margin: 0 0 15px 0;
}

.content-top__title{
  font-size: 36px;
  line-height: 50px;
  color: #273d46;
  max-width: 724px;
  margin: 0 auto;
}

.content-image{
  box-shadow: 0 15px 65px 0 rgba(15,16,16,0.15);
  background-color: #eeeeee;
  padding: 10px;
}

.content-bottom{
  margin-top: 86px;
  padding: 0 45px;
}

.content-bottom__text{
  margin: 0 auto;
  opacity: 0.8;
  font-size: 24px;
  line-height: 40px;
  color: #273d46;
}

.content-bottom__text p{
  margin-bottom: 40px;
}

.content-bottom__info{
  font-family: Arial, serif;
  font-size: 20px;
  line-height: 36px;
  color: #273d46;
}

.info{
  font-family: Arial, serif;
}

.info__list li{
  font-size: 20px;
  /*padding-left: 15px;*/
}

.info__list li img{
  margin-top: 10px;
  width: 25px;
  height: 19px;
}

.info__list li:nth-child(1){
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  color: #273d46;
}

.info__list li:nth-child(2) {
  font-style: italic;
  color: #80b7b3;
}

.info__list li:nth-child(3) {
  font-weight: 700;
  color: #273d46;
}

.info__list li:nth-child(4) {
  opacity: 0.3;
  text-decoration: line-through;
  color: #273d46;
}

.info__link{
  margin-top: 50px;
  height: 44px;
  display: inline-block;
  padding: 0 30px;
  box-shadow: 0 6px 40px 0 rgba(128,183,179,0.54);
  background-color: #80b7b3;
  font-size: 14px;
  line-height: 44px;
  border-radius: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.info__link img{
  padding: 14px 0 0 5px;
}

